<ion-content style="--background:rgb(255, 87, 51);">
    <ion-toolbar style="--background:rgb(255, 87, 51) ;">
        <ion-menu-toggle slot="start">
            <img class="img-h" src="https://scontent.ftpq1-1.fna.fbcdn.net/v/t1.0-9/94640341_3502350066461022_2325312757391425536_o.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_eui2=AeGOegDRmpuq8bnd9JBO4c5d3ZmVvu4aHgbdmZW-7hoeBmvEHaLsIMew4qqLK90UrGcKtrdKzuoSqUQIDCBmc9b2&_nc_oc=AQlfg9ez0qsG9dY1csW-hO5Xt-HjI63dl2Xp0HAjXJpEqRsoXREHUdopDpyWgpKdebrtZxcjFJOm3H8rNayAvfEE&_nc_ht=scontent.ftpq1-1.fna&oh=24eb89417992726c00c51c0bee1110cb&oe=5EE8CB7D">
        </ion-menu-toggle>
        <ion-buttons slot="end">
            <ion-button (click)="nuevoIngrediente()">
                <ion-icon style="color:rgb(255, 255, 255); font-size: 30px;" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center; color:rgb(255, 255, 255);">
            <h1>¡Hola Victor!</h1>
            <h6>Explora nuestra gran</h6>
            <h6>variedad de recetas</h6>
        </ion-title>
    </ion-toolbar>


    <div class="contenedor-general">
        <div class="flex-contenedor">
            <img class="img-c" src="https://mfacdn.cachefly.net/chooseveg/sites/3/2019/03/Taco-de-papa-y-camote.jpg" alt="Img"> Tacos
            <img class="img-c" src="https://mfacdn.cachefly.net/chooseveg/sites/3/2019/03/ensaladas-vegana-economicas.jpg" alt="Img"> Ensalada
            <img class="img-c" src="https://mfacdn.cachefly.net/chooseveg/sites/3/2019/03/sopa-de-tortilla-vegana.jpg" alt="Img"> Sopa
            <img class="img-c" src="https://img-global.cpcdn.com/recipes/0fcfa9c874f6f7c5/1200x630cq70/photo.jpg" alt="Img"> Salchichas
            <img class="img-c" src="https://i.blogs.es/f97511/1366_2000-29-/1366_2000.jpg" alt="Img"> Garbanzos
            <img class="img-c" src="https://i.blogs.es/e746d2/1366_2000-23-/1366_2000.jpg" alt="Img"> Tomates
            <img class="img-c" src="https://i.blogs.es/2e1507/1366_2000-12-/1366_2000.jpg" alt="Img"> Tofu
            <img class="img-c" src="https://i.blogs.es/d038e6/1366_2000-27-/1366_2000.jpg" alt="Img"> Guacamole

        </div>

        <div class="flex-contenedor">
            <img class="img-c" src="https://i.blogs.es/a42c89/1366_2000-4-/1366_2000.jpg" alt="Img"> Coliflor
            <img class="img-c" src="https://i.blogs.es/6cce9b/1366_2000-28-/1366_2000.jpg" alt="Img"> Crema de azafran
            <img class="img-c" src="https://www.hogarmania.com/archivos/201411/recetas-veganas-848x477x80xX.jpg" alt="Img"> Crema de tortilla
            <img class="img-c" src="https://vegetarianismo.net/images/calabacines-rellenos-tofu-champinones.jpg" alt="Img"> calabacines
            <img class="img-c" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSbPSntPSJ5ZvSo5tuqTn6ca6WRrARV1KvOK2piDxeHZwnWZDur&usqp=CAU" alt="Img"> ñoquis
            <img class="img-c" src="https://images.clarin.com/2016/09/13/B1f1h93FVl_1256x620.jpg" alt="Img"> Pozole
            <img class="img-c" src="https://mfacdn.cachefly.net/chooseveg/sites/3/2019/03/sopa-de-tortilla-vegana.jpg" alt="Img"> Sopa
            <img class="img-c" src="https://img-global.cpcdn.com/recipes/0fcfa9c874f6f7c5/1200x630cq70/photo.jpg" alt="Img"> Salchichas
        </div>

        <div class="flex-contenedor">
            <img class="img-c" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRku00D0qm_6ZBW24K9pS7QqGDUpvyo-UVLt91Wo8ZylCrqSGI&usqp=CAU" alt="Img"> Quinoa
            <img class="img-c" src="https://i.blogs.es/a10195/tostadas-tofu2/450_1000.jpg" alt="Img"> Tostadas
            <img class="img-c" src="https://assets.afcdn.com/story/20160323/884528_w980h638c1cx511cy250.jpg" alt="Img"> Sopes
            <img class="img-c" src="https://recetasveganas.net/wp-content/uploads/2016/08/perritocaliente-hotdog-vegano-3.jpg" alt="Img"> Hot-Dog
            <img class="img-c" src="https://mfacdn.cachefly.net/chooseveg/sites/3/2019/03/Taco-de-papa-y-camote.jpg" alt="Img"> Tacos
            <img class="img-c" src="https://mfacdn.cachefly.net/chooseveg/sites/3/2019/03/ensaladas-vegana-economicas.jpg" alt="Img"> Ensalada
            <img class="img-c" src="https://mfacdn.cachefly.net/chooseveg/sites/3/2019/03/sopa-de-tortilla-vegana.jpg" alt="Img"> Sopa
            <img class="img-c" src="https://img-global.cpcdn.com/recipes/0fcfa9c874f6f7c5/1200x630cq70/photo.jpg" alt="Img"> Salchichas
        </div>
    </div>

</ion-content>