<ion-content style="--background:rgb(255, 87, 51);">
    <ion-toolbar style="--background:rgb(255, 87, 51) ;">
        <ion-menu-toggle slot="start">
            <img class="img-h" src="https://scontent.ftpq1-1.fna.fbcdn.net/v/t1.0-9/94640341_3502350066461022_2325312757391425536_o.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_eui2=AeGOegDRmpuq8bnd9JBO4c5d3ZmVvu4aHgbdmZW-7hoeBmvEHaLsIMew4qqLK90UrGcKtrdKzuoSqUQIDCBmc9b2&_nc_oc=AQlfg9ez0qsG9dY1csW-hO5Xt-HjI63dl2Xp0HAjXJpEqRsoXREHUdopDpyWgpKdebrtZxcjFJOm3H8rNayAvfEE&_nc_ht=scontent.ftpq1-1.fna&oh=24eb89417992726c00c51c0bee1110cb&oe=5EE8CB7D">
        </ion-menu-toggle>
        <ion-buttons slot="end">
            <ion-button (click)="nuevoIngrediente()">
                <ion-icon style="color:rgb(255, 255, 255); font-size: 30px;" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center; color:rgb(255, 255, 255);">
            <h1>¡Hola Victor!</h1>
            <h6>Anexa algo a la </h6>
            <h6>lista de compra</h6>
        </ion-title>
    </ion-toolbar>


        <ion-list class="contenedor-general">  

          <form [formGroup]="myForm">
            <ion-item style="margin:20px">
              <ion-input  placeholder="Agregar" formControlName="producto"></ion-input>  
                <ion-icon   slot="end"  [disabled]="!myForm.valid" (click)="saveCompra()" class="check" name="checkmark-outline"></ion-icon>
            </ion-item>
          </form>
    

      <div *ngFor="let compra of compras">
      <ion-item-sliding (ionSwipe)="delete(compra.id)">
        <ion-item (click)="selectCompra(compra)"> 
          <ion-avatar slot="start">
            <img src="https://static3.diariovasco.com/www/multimedia/201904/23/media/cortadas/alimentos-sanos-nevera-kzeB-U803588237AFG-624x385@Diario%20Vasco.jpg"/>
        </ion-avatar>
          <ion-label  >{{compra.producto}}</ion-label>
        </ion-item>

        <ion-item-options>
        </ion-item-options>

      </ion-item-sliding>
      
    </div>
        </ion-list>
                      
</ion-content>