<ion-content class="background">
    <form class="ion-padding" [formGroup]="myForm">
            <div class="login">
                <ion-card class="colorFondo">
                    <ion-card-header>
                    <div padding class="usuario1">
                        <img src="../../../assets/icon/iconLogin.png" style="align-items: center" style="height: 100px; width: 150px">
                    </div>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-list class="lista">
                        <ion-item color='#F8E473'>
                            <ion-label position="floating">Ingrese correo electronico:</ion-label>
                            <ion-input class="letra" formControlName="email" type="text"></ion-input>
                        </ion-item>
                        <ion-item
                            *ngIf="myForm.get('email').errors && (myForm.get('email').dirty || myForm.get('email').touched || submitted)">
                            <ion-label color="danger">Correo invalido</ion-label>
                        </ion-item>

                        <ion-item color='#F8E473'>
                            <ion-label position="floating">Ingrese contraseña:</ion-label>
                            <ion-input class="letra" formControlName="password" type="password"></ion-input>
                        </ion-item>
                        <ion-item
                            *ngIf="myForm.get('password').errors && (myForm.get('password').dirty || myForm.get('password').touched || submitted)">
                            <ion-label color="danger">Contraseña invalida</ion-label>
                        </ion-item>
                    </ion-list>
                    </ion-card-content>
                    <div>
                        <ion-button expand="block" class="botonIniciar" color='#57280E' (click)="principal()">Iniciar</ion-button>
                    </div>
                    <div>
                        <ion-button expand="block" class="botonRegistrar" color='#57280E' (click)="registro()">Registrar</ion-button>
                    </div>
                </ion-card>
            </div>
    </form>
</ion-content>